/*******************************************************************************
    BASIC STYLES
*******************************************************************************/

.slide::after{
    background:url(../images/ribbon.svg) no-repeat;
}
.slide h2 {
    margin-top: -50px;
}
.slide h3 {
    color: #585a5e;
    font: 700 40px/1 PT Sans Narrow,sans-serif;
}
.slide h4 {
    color: #585a5e;
    font: 700 25px/1 PT Sans Narrow,sans-serif;
}

code.keys,
span.keys {
    color: #d20000;
}
code.values,
span.values {
    color: #33598c;
}
code.integers,
span.integers {
    color: #7e2bb9;
}
code.brackets,
span.brackets {
    color: #46ad62;
}

.pros {
    color: #1e921e !important;
}
.cons {
    color: #d20000 !important;
}

/*******************************************************************************
    TITLE (COVER) PAGE
*******************************************************************************/

#cover h2 {
    margin:30px 0 0;
    color:#FFF;
    text-align:center;
    font-size:70px;
}
#cover p {
    margin:10px 0 0;
    text-align:center;
    color:#FFF;
    font-style:italic;
    font-size:20px;
}
#cover p a {
    color:#FFF;
}
#cover img#oauth-logo {
    width: 200px;
    display: block;
    margin: 50px auto 0;
}

/*******************************************************************************
    ABOUT PAGE
*******************************************************************************/

#about h3,
#about h4 {
    margin: 20px auto;
    text-align: center;
}
#about #webbylab-logo {
    height: 90px;
    margin: 0 auto;
    display: block;
}
#about div.badges-block {
    margin-top: 110px;
    text-align: center;
}
#about img.badge-logo {
    width: 80px;
    margin: 15px;
}

/*******************************************************************************
    INTRO PAGE
*******************************************************************************/

#intro img {
    width: 250px;
}

/*******************************************************************************
    IS SECURE PAGE
*******************************************************************************/

#is-secure img {
    display: block;
    width: 250px;
}

/*******************************************************************************
    TIME WENT PAGE
*******************************************************************************/

#however img {
    width: 100%;
    margin-top: 10%;
}

/*******************************************************************************
    INTRO OAUTH PAGE
*******************************************************************************/

#intro-oauth {
    background: radial-gradient(circle, rgba(255, 255, 255, .5), rgba(255, 255, 255, .9)),
                url('../pictures/cover/dev_oauth_badge.png') 50% 50% no-repeat,
                white;
}

#intro-oauth p {
    text-align: center;
    margin-top: 15%;
    font: 35px/2 "PT Sans",sans-serif;
}

/*******************************************************************************
    ROLES PAGE
*******************************************************************************/

#roles li::before {
    content: none;
}

#roles li>img {
    display: inline-block;
    margin-left: 50px;
    max-width: 100px;
}

#roles li>div {
    display: inline-block;
    width: 80%;
    float: right;
}

#roles li>div>h4 {
    margin-left: 50px;
}

#roles li>div>h4,
#roles li>div>p {
    display: inline;
}

/*******************************************************************************
    PROTOCOL FLOW PAGE
*******************************************************************************/

.protocol-flow div.flow-wrapper {
    position: relative;
    height: 80%;
}
.protocol-flow img {
    max-width: 150px;
    position: absolute;
}
.protocol-flow img.user {
    top: 0;
    left: 0;
}
.protocol-flow img.auth-server {
    top: 0;
    right: 0;
}
.protocol-flow img.client {
    bottom: 0;
    left: 0;
}
.protocol-flow img.server {
    bottom: 0;
    right: 0;
}
.protocol-flow p.talk {
    position: absolute;
    color: #333;
    font: 25px/1.5 'PT Sans',sans-serif;
}

#protocol-flow-1 div {
    background: url('../pictures/protocol-frow/arrow_down.png') 8% 61% no-repeat;
    background-size: 35px
}
#protocol-flow-2 div,
#protocol-flow-9 div {
    background: url('../pictures/protocol-frow/arrow_right.png') 50% 95% no-repeat;
    background-size: 450px 100px;
}
#protocol-flow-3 div,
#protocol-flow-12 div {
    background: url('../pictures/protocol-frow/arrow_left.png') 50% 95% no-repeat;
    background-size: 450px 100px;
}

#protocol-flow-4 div {
    background: url('../pictures/protocol-frow/arrow_right_up.png') 50% 50% no-repeat;
    background-size: 550px 150px;
}
#protocol-flow-5 div,
#protocol-flow-8 div {
    background: url('../pictures/protocol-frow/arrow_left_down.png') 50% 50% no-repeat;
    background-size: 550px 150px;
}

#protocol-flow-6 div {
    background: url('../pictures/protocol-frow/arrow_left.png') 50% 15% no-repeat;
    background-size: 450px 100px;
}
#protocol-flow-7 div {
    background: url('../pictures/protocol-frow/arrow_right.png') 50% 15% no-repeat;
    background-size: 450px 100px;
}
#protocol-flow-10 div {
    background: url('../pictures/protocol-frow/arrow_up.png') 92% 40% no-repeat;
    background-size: 35px
}
#protocol-flow-11 div {
    background: url('../pictures/protocol-frow/arrow_down.png') 92% 60% no-repeat;
    background-size: 35px
}
#protocol-flow-13 div {
    background: url('../pictures/protocol-frow/arrow_up.png') 8% 42% no-repeat;
    background-size: 35px
}

/*******************************************************************************
    DELEGATION PAGE
*******************************************************************************/

#delegation div.description {
    margin: 50px auto;
    width: 90%;
    text-align: center;
    font: 35px/1.7 "PT Sans",sans-serif;
}
#delegation img {
    width: 250px;
}
#delegation mark.client {
    background: #faaca2;
}
#delegation mark.owner {
    background: #a2b7fa;
}
#delegation div.images img.client {
    padding: 15px;
    border: 5px solid #faaca2;
    border-radius: 5%;
}
#delegation div.images img.owner {
    padding: 15px;
    float: right;
    border: 5px solid #a2b7fa;
    border-radius: 5%;
}
#delegation img.lol {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
}

/*******************************************************************************
    GRANT PAGES
*******************************************************************************/

#grants li {
    margin: 25px 0;
}
#grants li,
#grants h4 {
    font-size: 30px;
}
#grants h4 {
    display: inline;
}

#auth-code h2,
#implicit h2,
#client-credentials h2 {
    margin-bottom: 0;
}
#auth-code img,
#implicit img,
#password-credentials img,
#client-credentials img {
    width: 100%;
}
#implicit img {
    margin-top: -5%;
}
#auth-code p {
    margin-top: -30px;
    font: 25px/1.5 "PT Sans",sans-serif;
}
#client-credentials figure {
    margin-top: -5%;
}

#select-grant img {
    height: 90%;
    display: block;
    margin: -2% auto;
}

/*******************************************************************************
    FE TIPS PAGE
*******************************************************************************/

#fe-tips ul {
    margin-top: 75px;
    font-size: 35px;
}
#fe-tips img {
    width: 50%;
    float: right;
    margin-top: -75px;
}


/*******************************************************************************
    EXPIRATION PAGE
*******************************************************************************/

#expiration .next h3 {
    display: inline;
}
#expiration .next img {
    width: 25%;
}


/*******************************************************************************
    WHEN JWT PAGE
*******************************************************************************/

#jwt-when pre {
    margin: -50px 0;
}

#jwt-when pre.json {
    margin-top: 100px;
}
#jwt-when pre.json code {
    margin-top: -15px;
}

/*******************************************************************************
    JWT LOOKS LIKE PAGE
*******************************************************************************/

#jwt-look pre {
    margin: -50px 0;
}
#jwt-look pre code span {
    font-weight: bold;
}
#jwt-look span.header {
    color: #19750a;
}
#jwt-look span.claims {
    color: #c17c21;
}
#jwt-look span.signature {
    color: #1f3f60;
}
#jwt-look p.description {
    text-align: center;
    margin-top: 25px;
}
#jwt-look p.description span {
    font-size: 35px;
    font-weight: bold;
    margin: 0 50px;
}

/*******************************************************************************
    JWT PAGEs
*******************************************************************************/

#jwt-header code span,
#jwt-claims code span,
#jwt-signature code span {
    font-weight: bold;
}

#jwt-claims pre code {
    margin-top: -16px;
}
#jwt-responce pre code {
    line-height: 1.4;
}

#jwt-signature code {
    color: #1f3f60;
}
#jwt-signature code .header {
    color: #c17c21;
}
#jwt-signature code .payload {
    color: #19750a;
}

/*******************************************************************************
    STATELESSNESS PAGE
*******************************************************************************/

#stateful-stateless img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

#statelessness mark {
    border-radius: none;
}
#statelessness mark.state {
    background: #a2dcfa;
}
#statelessness mark.transfer {
    background: #faa2a2;
}


/*******************************************************************************
    WHY OAUTH PAGE
*******************************************************************************/

#why-oauth h2 {
    font-size: 110px;
}

#jwt-pros-cons li,
#oauth-pros-cons li {
    font-size: 20px;
}
#oauth-pros-cons {
    padding-left: 80px;
}
#oauth-pros-cons ul ul li {
    text-align: right;
    font: 18px/1.7 "PT Sans",sans-serif;
    color: #555;
    margin-top: -5px;
}
#oauth-pros-cons ul ul li::before {
    content: none;
}

/*******************************************************************************
    DEMO PAGE
*******************************************************************************/

#demo .shout {
    top: 30%;
}
#demo img {
    position: absolute;
    top: 60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#cookbook img {
    width: 100%;
}
#nodejs-cookbook img.logo {
    display: block;
    margin: 0 auto;
    width: 100px;
    background: black;
    border: 10px solid black;
}
#nodejs-cookbook .title {
    text-align: center;
    color: #282828;
}
#nodejs-cookbook .code,
#php-cookbook .code {
    color: white;
    background: #333;
    padding: 25px 50px;
    margin: 50px auto;
    border-radius: 10px;
}
#php-cookbook .code {
    margin: 0 auto;
    line-height: 1.2;
}
#nodejs-cookbook .supported {
    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 25%;
    color: #555;
    text-align: center;
}
#nodejs-cookbook .auth0 {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-left: 6px;
    margin-bottom: -8px;
    background: url(../pictures/cookbook/supported_logo.svg) no-repeat;
}

#php-cookbook .projects {
    text-align: center;
}
#php-cookbook .projects a {
    text-decoration: none;
    background: none;
}
#php-cookbook .projects img {
    height: 120px;
}
#php-cookbook img.logo {
    display: block;
    margin: 10px auto;
    width: 25%;
}

/*******************************************************************************
    SEE MORE PAGE
*******************************************************************************/

#see-more h2 {
    font-size:100px
}

/*******************************************************************************
    Question and Answers PAGE
*******************************************************************************/

#qa .content {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -70%);
}
#qa h3 {
    font: 700 60px/1 PT Sans Narrow,sans-serif;
    text-align: center;
    margin: 20px 0;
    color: #fff;
}
